@import "tailwindcss";

/* Color Variables */
:root {
  --background: #ffffff;
  --background-alt: #f7f6f5;
  --primary: #f9e6d0;
  --primary-dark: #00373e;
  --accent-orange: #CC5500
  --accent-pink: #ee9a9e;
  --accent-green: #73b34c;
  --accent-aqua: #49c8c0;
  --foreground: #00373e;
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;
  --font-sans-bold: 'Inter Bold', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-alt: #171717;
    --foreground: #ededed;
    --primary-dark: #f9e6d0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: var(--font-sans-bold);
  color: var(--primary-dark);
}